.loader {
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 99;
  img {
    width: 100px;
    -webkit-animation: mover 0.8s infinite alternate;
    animation: mover 0.8s infinite alternate;
  }
  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  .loading-text {
    left: 50%;
    top: 50%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4.4px;
    text-transform: capitalize;
    position: absolute;
    overflow: hidden;
    margin-top: 80px;
    transform: translate(-50%, -60%);

    &:before {
      color: #444;
      content: attr(data-loading-text);
    }

    &:after {
      top: 0;
      left: 0;
      width: 0;
      opacity: 1;
      color: #aaa;
      overflow: hidden;
      position: absolute;
      content: attr(data-loading-text);
      animation: loading 3s infinite;
    }

    @keyframes loading {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
  }
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8);
}
