<div class="main-wrapper">
  <app-menu></app-menu>
  <div class="middle-section">
    <h2 class="page-title">Gallery</h2>
    <span *ngIf="infinite | async as people">
      <div class="gallery-outer scrollbar-width">
        <div class="grid-list">
          <div
            swiperSlide
            *ngFor="let token of people; let i = index"
            class="grid-item animated fadeInDown"
          >
            <button (click)="openDialog(token.id)" class="img-gallery">
              <img
                class="gallery-img"
                [src]="
                  'https://raw.githubusercontent.com/recklesslabs/wickedcraniums-300x300/main/' +
                  token.id +
                  '.png'
                "
              />
            </button>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
