<div class="main-wrapper">
    <app-menu></app-menu>
    <div class="middle-section">
        <h2 class="page-title">Gallery</h2>
        <div class="gallery-outer scrollbar-width">
            <div class="grid-list">
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/0.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/1.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/2.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/3.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/4.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/5.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/0.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/1.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/2.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/3.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/4.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/5.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/0.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/1.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/2.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/3.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/4.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/5.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/0.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/1.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/2.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/3.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/4.png" class="gallery-img" alt="img">
                </div>
                <div class="grid-item animated fadeInDown">
                    <img src="../../assets/images/5.png" class="gallery-img" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>