<div class="page-outer">

  <div class="displayCardsContainer story-page-wrapper">
    <ng-container *ngIf="infinite | async as people">
      <cdk-virtual-scroll-viewport itemSize="160" (scrolledIndexChange)="
                  nextBatch($event, people[people.length - 1].id)">
        <mat-card  (click)="openProfile(p.id)" *cdkVirtualFor="let p of people; let i = index; trackBy: trackByIdx"
          style="padding: 0px" class="animated lightSpeedIn">
          <div class="story-outer">
            <div class="story-img">
              <img [src]="'https://raw.githubusercontent.com/recklesslabs/wickedcraniums-300x300/main/' +
                p.id + '.png'" />
            </div>
            <div class="story-description">
              <h4>
                {{ p.id }} — {{ p.name }}
              </h4>
              <p>
                {{ p.bio }}
              </p>
            </div>
          </div>
        </mat-card>

        <p class="text-center my-25" *ngIf="theEnd">That's the end of it!</p>
      </cdk-virtual-scroll-viewport>
    </ng-container>
  </div>
</div>