$DarkSilver: #707070;

.editableCardsContainer {
    float: left;
    width: 166px;
    height: 700px;
    margin: 5px;
    background-color: #141414;
    position: relative;
}

.cdk-virtual-scroll-viewport::-webkit-scrollbar {
    width: 5px !important;
}

.displayCardsContainer {
    float: left;
    width: 100%;
    height: 700px;
    margin: 0 8px;
    background-color: #141414;

    cdk-virtual-scroll-viewport {
        height: inherit;
        border: 1px solid $DarkSilver;
        border-radius: 10px;
        overflow-x: hidden;

        .end-of-it-text {
            text-align: center;
            margin: 25px 0;
        }

        .mat-card {
            background-color: #1a1a1a;
            box-shadow: inset 2px 5px 23px 6px rgb(0, 0, 0, 1);
            border-radius: 6px;
            color: #fff;
            cursor: pointer;

            .story-outer {
                display: flex;
                .story-img {
                    width: 130px;
                    img {
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                        height: 130px;
                        width: 130px;
                        object-fit: cover;
                    }
                }
                .story-description {
                    padding: 15px 10px;
                    h4 {
                        cursor: pointer;
                        margin: 0px;
                        margin-bottom: 10px;
                    }
                    p {
                        margin: 5px;
                        height: 75px;
                        min-height: 75px;
                        overflow-y: auto;
                        font-size: 14px;
                        color: #cbcbcb;
                    }
                }
            }

            .disc-info {
                width: 472px;
                padding: 10px;

                h4 {
                    cursor: pointer;
                    margin: 0px;
                }

                p {
                    font-size: 12px;
                    margin-top: 7px;
                    height: 90px;
                    min-height: 90px;
                    overflow: auto;
                    margin-bottom: 0;
                }
            }
        }
    }
}

// infinite scroll styling

cdk-virtual-scroll-viewport,
ul {
    // height: 700px;
    // margin: 0 auto;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // justify-content: center;
    list-style: none;

    mat-card {
        height: 130px;
        margin: 10px;
        // padding: 10px;
        // $DarkSilver ==>
        background-color: #ffffff;

        box-shadow: 2px 2px 3px rgba($color: #888888, $alpha: 0.2);
    }

    &::-webkit-scrollbar {
        width: 1em;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #7b726a;
    }
}
