<h1 class="headingStyling">wicked cranium cradle</h1>
<router-outlet></router-outlet>
<footer>
    <div class="item">
      <a href="https://twitter.com/wickedcraniums/"
        target="_blank"><span>twitter.com/wickedcraniums</span></a>
    </div>
    <div class="item">
      <a href="https://discord.gg/yBYAdy8fqX"
        target="_blank"><span>discord.gg/yBYAdy8fqX</span></a>
    </div>
    <div class="item">
      <a href="https://wickedcranium.com"
        target="_blank"><span>wickedcranium.com</span></a>
    </div>
</footer>