@import "../styles.scss";



.headingStyling {
  text-align: center;
  font-size: xx-large;
  font-weight: 400;
  margin: 40px 0;
}
footer {
  max-width: 1024px;
  margin: 50px auto auto;
  display: flex;
  align-items: space-around;
  align-content: center;
  justify-content: space-evenly;
  padding: 25px 0;
  font-size: 14px;
  .item{
    a{
      text-decoration: none;
      color: #fff;
      &:hover{
        color: rgb(138, 138, 138);
        transition: all 0.3s;
      }
    }
  }
}
