<div class="main-wrapper">
  <app-menu></app-menu>
  <div class="middle-section">
    <div class="no-msg-outer animated flipInX">
      <img
        src="../../assets/images/0.png"
        alt="img"
        class="img-avtar rounded"
      />
      <h1>Hi!</h1>
      <p>
        You have a new message
        <img src="../../assets/images/message.svg" alt="img" />
      </p>
    </div>
  </div>
  <div class="right-section border-gray message-right-area">
    <div class="msg-user-list animated flipInX">
      <p class="msg-title">Message</p>
      <mat-list class="list-outer">
        <ul>
          <li>
            <span class="name active">New_York_cranium</span>
            <span class="count">2</span>
          </li>
          <li>
            <span class="name">New_York_cranium</span>
            <span class="count">2</span>
          </li>
          <li>
            <span class="name">New_York_cranium</span>
            <!-- <span class="count">2</span> -->
          </li>
          <li>
            <span class="name">New_York_cranium</span>
            <!-- <span class="count">2</span> -->
          </li>
        </ul>
      </mat-list>
    </div>
  </div>
</div>
