<div class="main-wrapper">
  <app-menu></app-menu>
  <div class="middle-section">
    <span *ngIf="flag; then ifPart; else elsePart"></span>
    <ng-template #ifPart>
      <div class="no-msg-outer animated flipInX">
        <img src="../../assets/images/message-ic-gray.svg" alt="img" class="img-avtar" />
        <h1>Hi!</h1>
        <p>
          You have a new message{{ secPerson }}
          <img src="../../assets/images/message.svg" alt="img" />
        </p>
      </div>
    </ng-template>
    <ng-template #elsePart>
      <div class="chat-outer">
        <h2 class="page-title">Messages</h2>
        <div class="chat">
          <div class="chat__wrapper" *ngFor="let data of dbUsers">
            <div [ngClass]="
                data.id === user.id
                  ? 'message chat__message chat__message-own'
                  : 'chat__message'">
              <span class="name">{{ data.id }} </span>
              <p>
                {{ data.message }}
              </p>
              <span class="time">{{
                data.messageTime.toDate() | date: "hh:mm"
                }}</span>
            </div>
          </div>
        </div>
        <div class="chat__form">
          <form id="chat__form">
            <input type="text" placeholder="Type your message here ..." class="form-control" id="Message" name="Message"
              [(ngModel)]="user.message" />
            <button type="submit" mat-raised-button (click)="saveUserMessage()" [disabled]="user.message === ''">
              <img src="../../assets/images/send.svg" alt="img" />
              Send
            </button>
          </form>
        </div>
        <div id="result"></div>
      </div>
    </ng-template>
  </div>
  <div class="right-section border-gray message-right-area">
    <div class="msg-user-list animated flipInX">
      <p class="msg-title">Message</p>
      <mat-list class="list-outer">
        <ul *ngFor="let dbUser of dbUserName">
          <li>
            <button class="name" (click)="getChats(user.id, dbUser.receiver_add)">
              {{ dbUser.name }}
            </button>

          </li>
          <!-- <span class="count">2</span> -->
        </ul>
      </mat-list>
    </div>
  </div>
</div>