<div class="main-wrapper">
  <app-menu></app-menu>
  <div class="middle-section">
    <!-- <h2 class="page-title">Token</h2> -->
    <div class="token-filter-outer">
      <button class="token-action refresh-token" (click)="tokenInsite()">
        Refresh
      </button>
      <!-- <a href="javascript:void(0)" class="token-action refresh-token">
        Refresh</a
      > -->
      <a href="javascript:void(0)" class="token-action filter-token"> Filter</a>
    </div>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr class="animated fadeInDown">
            <th>Sold</th>
            <th class="text-center">NFT</th>
            <th>Price</th>
            <th>Seller</th>
            <th>Buyer</th>
          </tr>
        </thead>
        <tbody>
          <tr class="animated fadeInDown" *ngFor="let data of nftData">
            <td>
              {{ data.block_timestamp | amTimeAgo }}
            </td>
            <td>
              <div class="item-outer">
                <div *ngFor="let dataImg of data.token_ids">
                  <img
                    [src]="
                      'https://raw.githubusercontent.com/recklesslabs/wickedcraniums-300x300/main/' +
                      dataImg +
                      '.png'
                    "
                    alt="img"
                  />
                </div>
                <!-- <div>
                  <h5>{{ data.block_number }}</h5>
                </div> -->
              </div>
            </td>
            <td>
              <div class="ethereum-data">
                <div class="ethe-icon">
                  <img src="../../assets/images/Ethereum.png" alt="img" />
                </div>
                <h5>{{ data.price / 1000000000000000000 }} ETH</h5>
              </div>
            </td>
            <td>{{ data.seller_address }}</td>
            <td>{{ data.buyer_address }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="editableCardsContainer">
    <app-slider-token></app-slider-token>
  </div>
</div>
