<div class="main-wrapper">
    <app-menu></app-menu>
    <div class="middle-section">
        <h2 class="page-title">Token</h2>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr class="animated fadeInDown">
                        <th></th>
                        <th>Item</th>
                        <th class="text-right">Price</th>
                        <th>Quantity</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animated fadeInDown">
                        <td>Sale 🛒</td>
                        <td>
                            <div class="item-outer">
                                <div>
                                    <img src="../../assets/images/item.png" alt="img">
                                </div>
                                <div>
                                    <p>Ape Kids Social Club</p>
                                    <h5>SHUGARDADDY3</h5>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <h5>✨ 0.3</h5>
                            <span>$9.03</span>
                        </td>
                        <td class="text-center">1</td>
                        <td>
                            A503E1
                        </td>
                        <td>FC7106</td>
                        <td>29 seconds ago</td>
                    </tr>
                    <tr class="animated fadeInDown">
                        <td>Sale 🛒</td>
                        <td>
                            <div class="item-outer">
                                <div>
                                    <img src="../../assets/images/0.png" alt="img">
                                </div>
                                <div>
                                    <p>Ape Kids Social Club</p>
                                    <h5>SHUGARDADDY3</h5>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <h5>✨ 0.3</h5>
                            <span>$9.03</span>
                        </td>
                        <td class="text-center">1</td>
                        <td>
                            A503E1
                        </td>
                        <td>FC7106</td>
                        <td>a minute ago</td>
                    </tr>
                    <tr class="animated fadeInDown">
                        <td>Sale 🛒</td>
                        <td>
                            <div class="item-outer">
                                <div>
                                    <img src="../../assets/images/1.png" alt="img">
                                </div>
                                <div>
                                    <p>Ape Kids Social Club</p>
                                    <h5>SHUGARDADDY3</h5>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <h5>✨ 0.3</h5>
                            <span>$9.03</span>
                        </td>
                        <td class="text-center">1</td>
                        <td>
                            A503E1
                        </td>
                        <td>FC7106</td>
                        <td>2 minute ago</td>
                    </tr>
                    <tr class="animated fadeInDown">
                        <td>Sale 🛒</td>
                        <td>
                            <div class="item-outer">
                                <div>
                                    <img src="../../assets/images/2.png" alt="img">
                                </div>
                                <div>
                                    <p>Ape Kids Social Club</p>
                                    <h5>SHUGARDADDY3</h5>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <h5>✨ 0.3</h5>
                            <span>$9.03</span>
                        </td>
                        <td class="text-center">1</td>
                        <td>
                            A503E1
                        </td>
                        <td>FC7106</td>
                        <td>3 minute ago</td>
                    </tr>
                    <tr class="animated fadeInDown">
                        <td>Sale 🛒</td>
                        <td>
                            <div class="item-outer">
                                <div>
                                    <img src="../../assets/images/3.png" alt="img">
                                </div>
                                <div>
                                    <p>Ape Kids Social Club</p>
                                    <h5>SHUGARDADDY3</h5>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <h5>✨ 0.3</h5>
                            <span>$9.03</span>
                        </td>
                        <td class="text-center">1</td>
                        <td>
                            A503E1
                        </td>
                        <td>FC7106</td>
                        <td>6 minute ago</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>