<div class="main-wrapper">
  <app-menu></app-menu>
  <div class="middle-section">
    <div class="token-filter-outer">
      <button class="token-action refresh-token" (click)="tokenInsite()">
        Refresh
      </button>
    </div>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr class="animated fadeInDown">
            <th class="token-sold">Sold</th>
            <th class="text-center token-nft">NFT</th>
            <th class="token-price">Price</th>
            <th>Seller</th>
            <th>Buyer</th>
          </tr>
        </thead>

        <tbody>
          <span *ngIf="loading; then loader; else tokens"></span>
          <ng-template #loader>
            <tr>
              <td colspan="5" class="loader-td">
                <div class="token-loader">
                  <img class="loader-icon" src="../../assets/images/logo.svg" />
                  <h5 class="loading-text" data-loading-text="Loading..."></h5>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #tokens>
            <tr class="animated fadeInDown" *ngFor="let data of nftData">
              <td class="token-sold">
                {{ data.block_timestamp | amTimeAgo }}
              </td>
              <td class="token-nft">
                <div class="item-outer">
                  <div *ngFor="let dataImg of data.token_ids">
                    <img [src]="
                        'https://raw.githubusercontent.com/recklesslabs/wickedcraniums-300x300/main/' +
                        dataImg +
                        '.png'
                      " alt="img" />
                  </div>
                </div>
              </td>
              <td class="token-price">
                <div class="ethereum-data">
                  <div class="ethe-icon">
                    <img src="../../assets/images/Ethereum.png" alt="img" />
                  </div>
                  <h5>{{ data.price / 1000000000000000000 }} ETH</h5>
                </div>
              </td>
              <td>{{ data.seller_address }}</td>
              <td>{{ data.buyer_address }}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
  <div class="editableCardsContainer">
    <app-slider-token></app-slider-token>
  </div>
</div>