/* You can add global styles to this file, and also import other style files */

$DarkSilver: #7b726a;
$MiddleGrey: #92887c;
$BlackShadows: #bdb5aa;
$OldMossGreen: #7b8235;
$CalPolyPomonaGreen: #26532a;
$BlackChocolate: #0d280e;

html,
body {
  min-height: 100%;
  font-family: "Special Elite";
  color: rgb(255, 255, 255);
}
body {
  margin: 0;
  background-color: black;
}
