$DarkSilver: #707070;

.editableCardsContainer {
  float: left;
  width: 166px;
  height: 700px;
  margin: 5px;
  background-color: #141414;
  position: relative;
}

.cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 5px !important;
}

.displayCardsContainer {
  float: left;
  width: 700px;
  height: 700px;
  margin: 0 8px;
  background-color: #141414;
  cdk-virtual-scroll-viewport {
    height: inherit;
    border: 1px solid $DarkSilver;
    border-radius: 10px;
    overflow-x: hidden;
    * {
      font-family: "Friz Quadrata Std" !important;
    }
    .end-of-it-text {
      text-align: center;
      margin: 25px 0;
    }
    .mat-card {
      background-color: #1a1a1a;
      box-shadow: inset 2px 5px 23px 6px rgb(0, 0, 0, 1);
      border-radius: 6px;
      color: #fff;
      cursor: pointer;
      a {
        img {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
      }
      .disc-info {
        width: 472px;
        padding: 10px;
        h4 {
          cursor: pointer;
          margin: 0px;
        }
        p {
          font-size: 14px;
          margin-top: 7px;
          height: 90px;
          min-height: 90px;
          overflow: auto;
          margin-bottom: 0;
        }
      }
    }
  }
}

.cardsContainer {
  width: 1024px;
  height: 710px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #141414;
}

// infinite scroll styling

cdk-virtual-scroll-viewport,
ul {
  // height: 700px;
  // margin: 0 auto;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // justify-content: center;
  list-style: none;
  mat-card {
    height: 130px;
    margin: 10px;
    // padding: 10px;
    // $DarkSilver ==>
    background-color: #ffffff;

    box-shadow: 2px 2px 3px rgba($color: #888888, $alpha: 0.2);
  }
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7b726a;
  }
}

.middle-profile-outer {
  .mat-card {
    background-color: transparent;
    box-shadow: none;
    &.home-top-card {
      display: flex;
      padding-bottom: 0;

      .home-comment-textarea {
        text-align: right;
        width: 100%;
        .post-btn {
          background-color: #7b8235;
          margin-top: 10px;
          padding-top: 5px;
          color: #fff;
          &:disabled {
            opacity: 0.5;
            &:hover {
              cursor: not-allowed;
            }
          }
        }
      }
    }
    .profile-box {
      margin-right: 10px;
      text-align: center;
      width: 100%;
      max-width: 130px;
      .home-profile-img {
        height: 130px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 13px 0px 29px #00000087;
      }
      h3 {
        margin: 10px 0;
        color: #9a9a9a;
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .profile-social {
      display: flex;
      align-items: center;
      .location {
        display: flex;
        align-items: center;
        margin-right: 10px;
        border-right: 1px solid #3e3e3e;
        &:last-child {
          border-right: 0;
        }
        span {
          font-size: 14px;
          color: #9a9a9a;
          margin-right: 12px;
        }
        .img-round {
          background-color: #242424;
          height: 20px;
          width: 20px;
          border-radius: 50px;
          padding: 8px;
          margin-right: 10px;
          img {
            width: 100%;
            height: 100%;
            filter: invert(63%) sepia(4%) saturate(103%) hue-rotate(325deg)
              brightness(96%) contrast(81%);
          }
        }
        .bg-trasparent {
          background-color: transparent;
          height: 20px;
          width: 20px;
          margin-right: 5px;
        }
      }
    }
  }
}

.home-comment-wrapper {
  h4 {
    color: #9a9a9a;
    border: 1px solid #9a9a9a;
    border-right: 0;
    border-left: 0;
    padding: 13px 0 8px 0;
    font-size: 15px;
  }
  .comment-outer {
    // position: relative;
    max-height: 415px;
    overflow-y: auto;
    .comment-list {
      padding-left: 0;
      margin: 0;
      margin-top: 20px;
      position: relative;
      &::after {
        content: "";
        width: 1px;
        background: #707070;
        position: absolute;
        height: 100%;
        top: 0px;
        margin-left: 20px;
        z-index: -1;
        animation: increase 3s;
        animation-fill-mode: forwards;

        @keyframes increase {
          0% {
            height: 0px;
          }
          100% {
            height: 100%;
          }
        }
      }

      li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        .comment-list {
          padding-left: 50px;
          margin-top: 15px;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
        }
        .avtar {
          height: 40px;
          width: 40px;
          background-color: #13486b;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
        }
        .user-name {
          font-size: 14px;
          color: #fff;
          margin-left: 12px;
        }
        .description {
          display: flex;
          width: 100%;
          color: #aeb9ff;
          font-size: 14px;
          padding-left: 52px;
        }
        .post-replay-btn {
          margin: 10px 0 0 55px;
          background-color: #7b8235;
          padding: 6px 0 2px;
          line-height: normal;
          color: #fff;
          min-width: 45px;
          font-size: 12px;
          padding-top: 2px;
        }
      }
      .replay-box-outer {
        margin: 8px 0 5px 55px;
        // display: flex;
        width: 100%;
        input {
          background-color: #1e1e1e !important;
          border-bottom: transparent;
          border-radius: 5px;
          padding: 10px 10px 5px 10px;
          color: #fff;
          width: 94%;
          min-height: 25px;
        }
        input::placeholder {
          color: #9a9992;
        }
        .btn-box {
          display: flex;
          /* flex-wrap: wrap; */
          /* width: 100%; */
          justify-content: end;
          align-items: center;
          margin-top: 10px;
          .post-cancel-btn {
            margin: 0 0 0 10px;
            padding: 6px 0 2px;
            line-height: normal;
            background-color: transparent;
            color: #979797;
            min-width: 55px;
            box-shadow: none;
          }
          .post-send-btn {
            margin: 0 0 0 10px;
            background-color: #7b8235;
            padding: 6px 0 2px;
            line-height: normal;
            color: #fff;
            min-width: 55px;
            &:disabled {
              opacity: 0.5;
              &:hover {
                cursor: not-allowed;
              }
            }
          }
        }
      }
      .commnet-info {
        margin-left: 55px;
        display: flex;
        align-items: end;
        margin-top: 5px;
        button {
          margin-left: 8px;
        }
        p {
          color: #fff;
          font-size: 12px;
          padding-left: 10px;
          margin: 0;
          &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #7b8235;
            border-radius: 50px;
            margin-left: -18px;
          }
        }
      }
    }
  }
  .blinker {
    animation: blinker 5s linear forwards;
    @keyframes blinker {
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
