<!-- <app-loader *ngIf="loading"></app-loader> -->

<div class="cardsContainer">
  <app-menu></app-menu>
  <div class="middle-section middle-profile-outer">
    <swiper class="animated lightSpeedIn home-pfp-slider" [config]="config">
      <ng-template *ngFor="let token of tokensArrObj" swiperSlide>
        <mat-card class="home-top-card animated lightSpeedIn">
          <div class="profile-box" *ngIf="pfpToken">
            <img class="home-profile-img" [src]="
                    'https://raw.githubusercontent.com/recklesslabs/wickedcraniums-300x300/main/' +
                    token.id + '.png'" alt="img" />
            <h3 class="user-id-name">{{ token.name }}</h3>
          </div>
          <div class="home-comment-top-form animated lightSpeedIn">
            <div class="form-group">
              <label>Name</label>
              <p>{{ token.name }}</p>
            </div>

            <div class="form-group">
              <label>Story</label>
              <p class="story-area">
                {{ token.bio }}
              </p>
            </div>

            <div class="profile-social">
              <div class="location">
                <span>Location</span>
                <div class="img-round">
                  <img src="../../assets/images/home-location-ic.svg" />
                </div>
              </div>
              <div class="location">
                <span>Share</span>
                <div class="img-round">
                  <img src="../../assets/images/home-twitter-ic.svg" />
                </div>
                <div class="img-round">
                  <img src="../../assets/images/home-discord-ic.svg" />
                </div>
              </div>
            </div>
          </div>
        </mat-card>

        <mat-card class="home-comment-textarea animated lightSpeedIn">
          <mat-form-field appearance="fill" class="animated fadeInDown">
            <mat-label>Write a comment...</mat-label>
            <textarea rows="3" cols="80" placeholder="" matInput [(ngModel)]="userComment.commentMessage">
                </textarea>
          </mat-form-field>
          <div class="leav-comment-btn-outer">
            <button class="post-send-btn" mat-raised-button>
              <span>Leave a comment</span>
            </button>
          </div>
        </mat-card>
      </ng-template>
    </swiper>
  </div>

  <div class="editableCardsContainer">
    <app-slider-token (newItemEvent)="tokenData($event)"> </app-slider-token>
  </div>

</div>